<% var data = {
title: "Для каждой страницы свой заголовок",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
  <section class="content">
    <div class="container">
      <div class="content__nav">
        <a href="https://www.youtube.com/watch?v=-9gEgshJUuY&ab_channel=lofigeek"
           target="_blank" class="content__link">Прямой эфир</a>
        <span class="content__date">19 ноября 16:00 мск</span>
      </div>
      <div class="content__text">
        <h1 class="content__title">Как сделать свои мечты реальностью</h1>
        <ul class="content__list">
          <li class="content__item">Как связаны умение мечтать и успех в жизни?</li>
          <li class="content__item">Где брать ресурс для реализации своей мечты?</li>
          <li class="content__item">Главные ошибки при постановке цели</li>
          <li class="content__item">Мечты или планирование: как действовать, чтобы получать желаемое?</li>
        </ul>
        <button class="content__popup">Забронировать место</button>
      </div>
      <div class="content__slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-item">
                <img src="img/slide1.jpg" alt="img" class="slider-image">
                <span class="image-title">Ведущая эфира</span>
                <span class="slider-title">Hинель Горбачева</span>
                <span class="slider-subtitle">Коуч ICF</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-item">
                <img src="img/slide2.jpg" alt="img" class="slider-image">
                <span class="image-title">Ведущая эфира</span>
                <span class="slider-title">Hинель Горбачева</span>
                <span class="slider-subtitle">Коуч ICF</span>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="slider-item">
                <img src="img/slide3.jpg" alt="img" class="slider-image">
                <span class="image-title">Ведущая эфира</span>
                <span class="slider-title">Hинель Горбачева</span>
                <span class="slider-subtitle">Коуч ICF</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-item">
                <img src="img/slide4.jpg" alt="img" class="slider-image">
                <span class="image-title">Ведущая эфира</span>
                <span class="slider-title">Hинель Горбачева</span>
                <span class="slider-subtitle">Коуч ICF</span>
              </div>
            </div>
          </div>
          <div class="content-pagination"></div>
          <div class="content-button-prev"></div>
          <div class="content-button-next"></div>
        </div>
      </div>
    </div>
  </section>
</main>


<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>
