@import "color.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;


  &__wrapper {
    width: 100%;
    padding: 40px 0;
    border-bottom: 2px solid $nav-link;
  }

  &__menu {

  }

  .menu-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
  }

  .menu-item {
    font-size: 1.8rem;
    font-weight: 700;
    color: $nav-link;
    transition: .3s;
    &:hover {
      color: $text-color;
    }
  }

  .item-marker {
    position: absolute;
    bottom: -10px;
    height: 2px;
    border-radius: 1px;
    background-color: $text-color;
    transition: .5s;
  }
}